<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorites</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav">
          <li><a href="/" class="nav__link--hover">Home</a></li>
          <li><a href="/toprated" class="nav__link--hover">Top Rated Movies</a></li>
          <li><a href="/favorites" class="nav__link--hover">Favorites List</a></li>
          <li><a href="/displayMovie" class="nav__link--hover">Search</a></li>
          <li><a href="/addMovie" class="nav__link--hover active">Add</a></li>
          <li><a href="/deleteMovie" class="nav__link--hover">Delete</a></li>
        </ul>
      </nav>
      <h1 class="title"><span class="wave">✔️</span> Add New Favorite Movie</h1>
    </header>

    <section id="main">
      <h2 class="section-title">Enter Movie Name Below:</h2>
      <div class="section-container">
        <div class="row">
          <form method="POST" action="/moviez" class="form">
            <div class="form__input">
              <input
                type="text"
                id="movie_title"
                name="movie_title"
                placeholder="Movie Title"
                onkeyup="searchMovie(this.value)"
                autocomplete="off"
                required
              />
            </div>
            <div id="suggestions" class="suggestions"></div>

            <button type="submit" id="add-movie-button" class="btn green">Add Movie</button>
          </form>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function searchMovie(title) {
        if (!title) { // check if title is empty
          $('#suggestions').html('');
          return;
        }
        $.ajax({
          url: 'https://api.themoviedb.org/3/search/movie?api_key=5bb29652cf62dbfbebc5b63624ef5f53',
          type: 'GET',
          data: {
            query: title
          },
          dataType: 'json',
          contentType: 'application/json',
          success: function(data) {
            var movies = data.results;
            var suggestionsHtml = '';
            for (var i = 0; i < movies.length; i++) {
              suggestionsHtml += '<p onclick="selectMovie(\'' + movies[i].title + '\')">' + movies[i].title + '</p>';
            }
            $('#suggestions').html(suggestionsHtml);
          },
          error: function() {
            alert('Error');
          }
        });
      }
      function selectMovie(title) {
        $('#movie_title').val(title);
        $('#suggestions').html('');
      }
    </script>
    <style>
      .suggestions {
    max-height: 200px;
    overflow: auto;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
  }
  #movie_title {
    margin-bottom: 50px;
  }
  #add-movie-button {
    margin-bottom: 30px;
  }
  </style>
</html>